html{
    padding: 0;
    margin: 0;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover
    
}
body{
    
    margin: 0;
    margin-left:270px;
    margin-right:270px;
    height: 100%;
}
header{
    padding: 0;
    width: 100%;
    height: 300px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:top ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.p1{
    margin: 0;
    font-family: 'Lexend', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px rgb(19, 16, 93);
    font-weight: bold;
    margin-left: 30px;
}
.p1:hover{
    font-size: 100px;
}

nav{
    
    color: white;
    text-transform: uppercase;
    height: 70px;
    width: 100%;
    background: rgba(127, 36, 213, 0.583);
    font-size: 30px;
    font-style: italic;
}


ol{
    display: flex;
    margin: 0;
    justify-content: space-between;
    height: inherit;
    align-items: center;
    list-style: none;
    padding: 0;
}

li{
    display: flex;
    
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

li:hover{
    font-size: 40px;
    background: rgba(127, 36, 213, 0.694)
}

.contacto{
   
    background-color: rgba(78, 9, 146, 0.693);
    margin: 0;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-family: 'Lexend', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
    border: 4px rgb(255, 255, 255) solid;
    border-radius: 50px;
    padding: 30px;
    background-color: rgb(9, 9, 113);
    margin-bottom: 60px;
    margin-top: 60px;
}

.contenedor{
    display: flex;
}
.labels{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    font-size: 30px;
    color: white;  
}
.flab{
    margin-top: 10px;
}
form .finpt{
    width: 300px;
    text-align: center;
    height: 30px;
    margin: 10px;
    margin-top: 5;
    border: 3px solid blue;
}
#labape{
    margin-top: 27px;
}
#labem{
    margin-top: 20px;
}

#labpa{
    margin-top: 35px;
}
#labgen{
    margin-top: 29px;
}
#email{
    margin-bottom: 30px;
}
#pais{
    height: 40px;
    width: 120px;
    background-color: blueviolet;
    color: white;
    margin-left:10px ;
    margin-bottom: 30px;
    font-size: 20px;
}
.labsel{
    color: white;
    font-size: 30px;
    margin: 0;
    margin-left:10px ;
}
#submit{
    margin-top: 30px;
    width: 220px;
    height: 70px;
    background-color: blue;
    border: 2px solid white;
    border-radius: 50px;
    margin-left: 180px;
    font-size: 20px;
    color: white;
    
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.foot{
    margin: 0;
}