html{
    padding: 0;
    margin: 0;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover
    
}
body{

    margin: 0;
    margin-left:200px;
    margin-right:200px;
    height: 100%;
}
header{
    padding: 0;
    width: 100%;
    height: 300px;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position:top ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}
.p1{
    margin: 0;
    font-family: 'Lexend', sans-serif;
    font-size: 80px;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px rgb(19, 16, 93);
    font-weight: bold;
    margin-left: 30px;
}
.p1:hover{
    font-size: 100px;
}

nav{
    
    color: white;
    text-transform: uppercase;
    height: 70px;
    width: 100%;
    background: rgba(127, 36, 213, 0.583);
    font-size: 30px;
    font-style: italic;
}


ol{
    display: flex;
    margin: 0;
    justify-content: space-between;
    height: inherit;
    align-items: center;
    list-style: none;
    padding: 0;
}

li{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}
a{
    color: white;
    text-decoration: none;
}

li:hover{
    font-size: 40px;
    background: rgba(127, 36, 213, 0.694)
}

.contenedor{
    border: 4px solid white;
    padding: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(102, 13, 185, 0.712);
    border-radius: 50px;
}


h1{
    color: white;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 60px;
}
p{
    color: white;
    font-family: 'Lexend', sans-serif;
    font-size: 40px;
    text-align: justify;
}
figure img {
    height: 300px;
    width: 700px;
    border-radius: 20px;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 15px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.foot{
    margin: 0;
}